<div ng-controller="EnvironmentDashboardController as vm">
	<umb-load-indicator ng-if="vm.model.loading"></umb-load-indicator>
	<umb-box>
		<umb-box-content>
			<h3 class="bold">
				Environment Dashboard
			</h3>
			<ul>
				<li>
					You are viewing: <strong>{{vm.model.dashboard.currentEnvironment}}</strong>
				</li>
			</ul>
		</umb-box-content>
	</umb-box>

	<umb-box ng-repeat="group in vm.model.dashboard.groups">
		<umb-box-content>
			<h5>
				{{group.title}}
			</h5>
			<table class="table">
				<tbody>
					<tr ng-repeat="pair in group.pairs">
						<td>
							{{pair.key}}
						</td>
						<td>
							{{pair.value}}
						</td>
					</tr>
                </tbody>
			</table>
		</umb-box-content>
	</umb-box>
</div>
